*{
    margin: 0;padding: 0;
}
.heading{
    color :rgb(216, 97, 43);
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#h1{
    background-color: #1a7926;
}
#h2{
    background-color:goldenrod;
}
div p{
    font-size: x-large;
}
/* child selector 
div p
div > p
div + p
div - p

priority  --------------
inline >Id > Class or attribute selector > Element Selector > universal selector
*/